.home-header{

}

.home-ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: end;
    justify-content: flex-end;
    padding: 0 20px;

}
.home-a{
    color:black;
    font-size: 20px;
    padding: 0 10px;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    list-style: none;
    text-decoration: none;



}
.active{
    color: #ff6464;
}


#RightSection,
#LeftSection{
    padding: 50px 0px;
    width: 50%;
}

section{
    padding: 0 40px;
    display: flex;
}
#RightSection img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
